<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <!-- <a class="navbar-brand " href="#"><img class="logo" src="../../assets/image/firebase_logo.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Dropdown
          </a>
          <ul ngbDropdownMenu class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div> -->

    <div class="logo navbar-nav mx-2" routerLink="/">
      <img src="../../assets/image/firebase_logo.png" alt="logo">
      <h5 class="mx-2 bold ">Firebase</h5>
    </div>
    <ul class="navbar-nav">

      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle href="#" class="nav-link">Products</a>
        <ul ngbDropdownMenu class="dropdown-menu">
          <li><a href="#" class="dropdown-item">Build</a></li>
          <li><a href="#" class="dropdown-item">Release & Monitor</a></li>
          <li><a href="#" class="dropdown-item">Engage</a></li>
        </ul>
      </li>

      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle href="#" class="nav-link">Solutions</a>
        <ul ngbDropdownMenu class="dropdown-menu">
          <li><a href="#" class="dropdown-item">Explore all solutions</a></li>
          <li><a href="#" class="dropdown-item">Discover Solutions for use</a></li>
          <li><a href="#" class="dropdown-item">cases in your app and</a></li>
          <li><a href="#" class="dropdown-item">Business</a></li>
        </ul>
      </li>

      <li class="nav-item">
        <a href="#" class="nav-link">Pricing</a>
      </li>

      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle href="#" class="nav-link">Docs</a>
        <ul ngbDropdownMenu class="dropdown-menu">
          <li><a href="#" class="dropdown-item">Overviews</a></li>
          <li><a href="#" class="dropdown-item">Fundamentals</a></li>
          <li><a href="#" class="dropdown-item">Build</a></li>
          <li><a href="#" class="dropdown-item">Release & Monitor</a></li>
          <li><a href="#" class="dropdown-item">Engage</a></li>
          <li><a href="#" class="dropdown-item">Reference</a></li>
          <li><a href="#" class="dropdown-item">Samples</a></li>
        </ul>
      </li>

      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle href="#" class="nav-link">More</a>
        <ul ngbDropdownMenu class="dropdown-menu">
          <li><a href="#" class="dropdown-item">Community</a></li>
          <li><a href="#" class="dropdown-item">Support</a></li>
        </ul>
      </li>

      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle href="#" class="nav-link">More</a>
        <ul ngbDropdownMenu class="dropdown-menu">
          <li><a href="#" class="dropdown-item">Community</a></li>
          <li><a href="#" class="dropdown-item">Support</a></li>
        </ul>
      </li>

    </ul>
  </div>
</nav>